.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    critical: this;
	max-width: 100%;
}

[src*=".jpg"],
[src*=".jpeg"],
[src*=".png"],
[src*=".gif"] {
    critical: this;
    display: block;
    max-width: 100%;
}

figure {
    critical: this;
	margin: 0;
	width: 100% !important;

	&.aligncenter img {
        critical: this;
        margin: 0 auto;
    }

    &.alignleft img {
        critical: this;
        margin-right: auto;
    }

    &.alignright img {
        critical: this;
        margin-left: auto;
    }

    a {
        critical: this;
        display: block;
    }
}

img {
    @include fluid-type(margin-top margin-bottom, $mq-mobile, $mq-wide, $spacing-regular--quarter, $spacing-regular--half);

    &.aligncenter {
        @include fluid-type(margin-top margin-bottom, $mq-mobile, $mq-wide, $spacing-regular--quarter, $spacing-regular--half);
        margin-left: auto;
        margin-right: auto;
    }

    &.alignleft {
        critical: this;
        margin-right: auto;
    }

    &.alignright {
        critical: this;
        margin-left: auto;
    }
}
