._comments__list {
	padding: 0;
	list-style: none;
}

._comments__list-item > ._comments__list-item {
	@include fluid-type(padding-left, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}

._comments__article {
	@include fluid-type(margin-bottom, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}

._comments__avatar {
	display: inline-block;
	@include fluid-type(border-radius, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}

._comments__author {
	@include flex;
	@include flex-item--center;
}

._comments__author-name {
    @include fluid-type(margin-left margin-right, $mq-mobile, $mq-wide, $spacing-regular--single, $spacing-regular--quarter, 0);
}

._comments__author-text {
    @include fluid-type(margin-left, $mq-mobile, $mq-wide, $spacing-regular--quarter, $spacing-regular--half, 0);
}

._comments__content {
    @include fluid-type(padding-left margin-top, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}

._comments__reply-item {
    @include fluid-type(padding-left, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}

._comments__content,
._comments__reply-item {
	border-left: 1px dotted $color__border-comment;
}

._comments__awaiting-moderation {
	color: $color__text-warning;
}

.comment-respond {
    @include fluid-type(margin-bottom, $mq-mobile, $mq-wide, $spacing-regular--half, $spacing-regular, 0);
}
