button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include fluid-type(padding, $mq-mobile, $mq-wide, $spacing-regular--quarter, $spacing-regular--half);
	// @include font-size(1);
	line-height: 1;
	border: 1px solid;
	height: $input-height;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__text-button;

	&:hover {
		cursor: pointer;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
