$letter-spacing: 0.1em;

$sup-position: -0.5em;
$sub-position: -0.25em;

$spacing-regular: 1em;
$spacing-regular--half: .5em;
$spacing-regular--quarter: .25em;
$spacing-regular--double: 2em;

$input-height: 2.5em;
$input-height--double: 5em;
