$letter-spacing: 0.1rem;

$sup-position: -0.5rem;
$sub-position: -0.25rem;

$spacing-regular: 1rem;
$spacing-regular--half: .5rem;
$spacing-regular--quarter: .25rem;
$spacing-regular--double: 2rem;

$input-height: 2.5rem;
$input-height--double: 5rem;
