._content {
	padding: $spacing-regular--half;
	
	img {
		height: 100%;
	}
}

._content__footer {
	margin-top: $spacing-regular--half;
}

._post-navigation__item:empty {
	display: none;
}

._content__edit-link {
    clear: both;
    display: inline-block;
}