._content {
    critical: this;
	padding: $spacing-regular--half;

	img {
        critical: this;
		height: 100%;
	}
}

._content__footer {
    critical: this;
	margin-top: $spacing-regular--half;
}

._post-navigation__item:empty {
    critical: this;
	display: none;
}

._content__edit-link {
    critical: this;
    clear: both;
    display: inline-block;
}

._content__meta-time {
    ._content__meta-time + & {
        critical: this;
        margin-left: $spacing-regular--half;
    }
}
