._content {
	padding: $spacing-regular--half;
	
	img {
		height: 100%;
	}
}

._content__meta-time {
    font-size: 70%;
    
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}

._content__footer {
	margin-top: $spacing-regular--half;
}

._post-navigation__item:empty {
	display: none;
}

._content__edit-link {
    clear: both;
    display: inline-block;
}