._header__navigation {
    critical: this;
    position: relative;
}

._header__navigation-checkbox,
._header__navigation-toggler {
    critical: this;
    display: none;

    @include mq($until: tablet) {
        critical: this;
        display: inline-block;
    }
}

._header__navigation-checkbox {
    critical: this;
    position: absolute;
    left: -9999px;
}

._header__navigation-checkbox ~ ._header__menu {
    critical: this;
    display: none;

    @include mq($from: tablet) {
        critical: this;
        display: block;
    }
}

._header__navigation-checkbox:checked ~ ._header__menu {
    critical: this;
    @include flex;
    @include direction(column);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

._header__menu-list,
._header__submenu-list {
    critical: this;
    background-color: $color__header-menu;
    list-style: none;

    @include mq($from: tablet) {
        critical: this;
        @include flex;
        @include flex-justify--space-around;
    }
}

._header__submenu-list {
    critical: this;
    @include flex-container--column;

    @include mq($from: tablet) {
        critical: this;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
}

._header__menu-item,
._header__submenu-item {
    critical: this;
    @include flexbox(1);
    position: relative;
}

._header__menu-link,
._header__submenu-link {
    @include mq($from: tablet) {
        @include fluid-type(padding, $mq-mobile, $mq-wide, $spacing-regular--quarter, $spacing-regular--half);
    }
}

._header__menu-link,
._header__submenu-link {
    critical: this;
    @include flex;
    @include flexbox(1);
    @include flex-item--center;
}

._header__menu-link {
    critical: this;
    @include direction(column);
}

._header__menu-item:hover > ._header__submenu-list {
    critical: this;
    display: block;
}
