ul, ol {
	margin: 0 0 $spacing-regular $spacing-regular--double;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $spacing-regular;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $spacing-regular $spacing-regular;
}