body, p, blockquote, cite, ul, ol, dl {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
    &:not(:first-child) {
        @include fluid-type(margin-top, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    }
    
    &:not(:last-child) {
        @include fluid-type(margin-bottom, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    }
}

// Modular scale: major thirds
h1 {
    font-size: 2.441em;
    line-height: calc(3 / 2.441);
}

h2 {
    font-size: 1.953em;
    line-height: calc(2 / 1.953);
}

h3 {
    font-size: 1.563em;
    line-height: calc(2 / 1.563);
}

h4 {
    font-size: 1.25em;
    line-height: calc(2 / 1.25);
}

h5 {
    font-size: 1em;
    line-height: calc(2 / 1);
}

h6 {
    font-size: .8em;
    line-height: calc(1 / .8);
}

blockquote, cite, pre, dfn, ul, ol, dl, p, table {
    font-size: 1em;
}

p {
    margin: 0;
    
    @include fluid-type(margin-bottom, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    
    + p {
        @include fluid-type(margin-top, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    }
}

blockquote, cite, pre, dfn, ul, ol, dl, table, hr, img {
    &:not(:first-child) {
        @include fluid-type(margin-top, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    }
    
    &:not(:last-child) {
        @include fluid-type(margin-bottom, $breakpoint--low, $breakpoint--high, $baseline--mobile, $baseline);
    }
}

table {
    max-width: 100%;
}

blockquote, cite, dfn, cite, em, i {
    font-style: italic;
}

pre {
    background: $color__background-pre;
    font-family: $font__pre;
    max-width: 100%;
    overflow: auto;
}

code, kbd, tt, var {
    font-family: $font__code;
}

abbr, acronym {
    border-bottom: 1px dotted $color__border-abbr;
    cursor: help;
}

mark, ins {
    background: $color__background-ins;
    text-decoration: none;
}

big {
    font-size: 1.25em;
    line-height: calc(2 / 1.25);
}

small {
    font-size: .8em;
    line-height: calc(1 / .8);
}
