body {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, blockquote, cite, ul, ol, dl {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
    &:not(:first-child) {
        @include fluid-type(margin-top, 25em, 50em, .5em, 1em);
    }
    
    &:not(:last-child) {
        @include fluid-type(margin-bottom, 25em, 50em, .5em, 1em);
    }
}

h1 {
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6, small {
    font-size: .8em;
}

blockquote, cite, ul, ol, dl, p, table {
    font-style: 1em;
}

p {
    margin: 0;
    
    @include fluid-type(margin-bottom, 25em, 50em, .5em, 1em);
    
    + p {
        @include fluid-type(margin-top, 25em, 50em, .5em, 1em);
    }
}
    
blockquote, cite, ul, ol, dl, table, hr, img {
    &:not(:first-child) {
        @include fluid-type(margin-top, 25em, 50em, .5em, 1em);
    }
    
    &:not(:last-child) {
        @include fluid-type(margin-bottom, 25em, 50em, .5em, 1em);
    }
}

table {
    max-width: 100%;
}

blockquote, cite {
    font-style: italic;
}