$baseline: 1.5rem;
$baseline--mobile: 1rem;
$font-size: 1.25em;
$font-size--mobile: 1em;
$breakpoint--low: 25em;
$breakpoint--high: 50em;

html {
    @include fluid-type(font-size, $breakpoint--low, $breakpoint--high, $font-size--mobile, $font-size);
}