$document-font-size--mobile: .8em;
$document-font-size: 1.2em;

html {
    critical: this;
    @include fluid-type(font-size, $mq-mobile, $mq-desktop, $document-font-size--mobile, $document-font-size);
}
